.container-fluid
  .row
    div.col-lg-8.col-sm-10.col-centered
      .mb-0.mt-4
        i.fa.fa-newspaper-o
        |  Edit
        strong  {{d.list.name}}
      hr.mt-2
      .card-columns
  .row(style="min-height:300px;")
    div.col-lg-8.col-centered
      .card-columns
          .card.mb-3
            .card-header
              div.row
                div.col-sm-4
                  button.btn.btn-success(style="cursor:pointer;", ng-click="executeQuery()") Execute Query
            .list-group.list-group-flush.small(style="min-height:100px;")
              div(style="text-align: center;", ng-if="(d.list.querymodel.length > 0)")
                a.list-group-item.list-group-item-action(ng-repeat="param in d.list.querymodel")
                  div.media
                    div.media-body
                      .row
                        .col-sm-3.form-group(style="text-align:left;")
                          label Field:
                          select.form-control(ng-model="d.list.querymodel[$index].field")
                            option(value="email") email
                            option(value="name") name
                            option(value="stage") stage
                        
                        //- opperators if email or name
                        .col-sm-3.form-group(style="text-align:left;", ng-if="param.field === 'email' || param.field === 'name'")
                          label Opperator:
                          select.form-control(ng-model="d.list.querymodel[$index].opp")
                            option(value="EQ") equals
                            option(value="NOT EQ") not equal
                            option(value="CONTAINS") contains
                            option(value="NOT CONTAINS") does not contain

                        //- text value inpute
                        .col-sm-5.form-group(style="text-align:left;", ng-if="(param.field === 'email' || param.field === 'name') && param.opp")
                          label value:
                          input.form-control(ng-model="d.list.querymodel[$index].value")
                        .col-sm-1(style="padding-top:26px;")
                          i.fa.fa-trash(style="font-size:33px; color:red; cursor:pointer;", ng-click="remove($index);")
              div(style="text-align: center; height:100px;")
                button.btn.btn-primary(ng-click="newQuery()", style="margin-top:25px; cursor:pointer;") Add A Parameter!