.container-fluid
  .row
    div.col-lg-8.col-sm-10.col-centered
      .mb-0.mt-4
        i.fa.fa-newspaper-o
        |  Contacts!
      hr.mt-2
      .card-columns
        .card.mb-3
          .card-header
            div.row
              div.col-sm-4
                div
                  label Search:
                div.input-group
                  input.form-control(ng-model="d.search" type="text" ng-model-options="{debounce:1200}" ng-change="searchFor()" placeholder="Search for...")
              div.col-sm-4
                div
                  label Stage:
                  .dropdown
                    button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(style="cursor: pointer;", type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') {{(d.filterStage) ? d.filterStage : "Any Stage"}}
                    .dropdown-menu(aria-labelledby='dropdownMenuButton')
                      a.dropdown-item(style="cursor: pointer;", ng-repeat="stage in d.stages", ng-click="filterStage(stage)") {{stage}}
                      a.dropdown-item(style="cursor: pointer;", ng-click="filterStage(\"any\")") Any Stage
          .card-body(style="padding:0;")
            .table-responsive
              #dataTable_wrapper(style="padding:0;").dataTables_wrapper.container-fluid.dt-bootstrap4
                .row
                  .col-sm-12
                    table#dataTable.table.table-bordered(width='100%', cellspacing='0', style="margin-bottom:0;")
                      thead
                        tr
                          th id
                          th Name
                          th Email
                          th Stage
                          th createdAt
                          th(colspan="3")
                      tbody
                        tr(ng-repeat="data in data.contacts")
                          td {{data.id}}
                          td {{data.name}}
                          td {{data.email}}
                          td {{data.stage}}
                          td {{data.createdAt|date:'shortDate'}}
                          td 
                            button add to
                          td 
                            button(ng-click="editContactModal(data)") edit
                          td
                            button(ng-click="destroy(data, $index)") delete
                .row
                  .col-sm-6(style="padding:10px 0")
                    #dataTable_paginate.dataTables_paginate.paging_simple_numbers
                      ul.pagination
                        li#dataTable_previous.paginate_button.page-item.previous(ng-click="changePage('prev')")
                          a.page-link(aria-controls='dataTable', data-dt-idx='0', tabindex='0') Previous
                        li.paginate_button.page-item(ng-repeat="tick in d.paginator")
                          a.page-link(ng-click="changePage(tick,$event);", aria-controls='dataTable', data-dt-idx='1', tabindex='0') {{tick}}
                        li#dataTable_next.paginate_button.page-item.next(ng-click="changePage('next')")
                          a.page-link(aria-controls='dataTable', data-dt-idx='7', tabindex='0') Next

          .card-footer.small.text-muted
            | Updated yesterday at 11:59 PM