.container-fluid
  .row
    div.col-lg-6.col-sm-10.col-centered
      // Card Columns Example Social Feed
      .mb-0.mt-4
        i.fa.fa-newspaper-o
        |  Feed
        helloWorld
      hr.mt-2
      .card-columns
        div(infinite-scroll='getData()', infinite-scroll-disabled='d.fetching', infinite-scroll-distance='1')
          .card.mb-3(ng-repeat="data in data.items")
            a(href='#')
              img.card-img-top.img-fluid.w-100(ng-src="{{data.imgUrl}}", alt='')
            .card-body
              h6.card-title.mb-1
                a(href='#') {{data.owner.name}} 
              p.card-text.small
                | {{data.title}}
            .card-footer.small.text-muted
              | Posted {{data.updatedAt | date:'short'}}