.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Upload Contact List
        button.close(type='button', ng-click='close(false)', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        div(class="form-group")
          label(for="exampleInputEmail1") Title
          input(ng-model="d.title"  class="form-control" placeholder="Title")
          br
          label(for="exampleInputEmail1") Image Url
          input(ng-model="d.url" class="form-control" placeholder="Image Url")
          br
          small(id="emailHelp" class="form-text text-muted") I dont have any money
        
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal' ng-click="close(false)" style="cursor:pointer;") Cancel
        button.btn.btn-primary(ng-disabled="!d.title || !d.url" ng-click="upload()" style="cursor:pointer;") Upload